# main
.env
gcp_build.txt

# backend
backend/.env
backend/chroma_db/
backend/chromadb_storage/
backend/.dockerignore
backend/.env.deploy
backend/Dockerfile



# frontend
frontend/.env.production
frontend/.firebase/
frontend/.firebaserc
frontend/firebase.json

# Ignore all __pycache__ folders
**/__pycache__/


# Python virtual environments
**/venv/
.venv/

# Cursor docs
.cursor/